header {
    background: none;
    display: flex;
    padding: 25px;
    justify-content: right;
}

a {
    color: aliceblue;
    text-decoration:none;
    padding: 10px;
}

a:hover {
    background-color: white;
    color: black;
}

#body {
    text-align: center;
    background-color: rgb(52, 48, 48);
}

#main {
    background-color: rgb(52, 48, 48);

}

#iForm {
    padding: 200px;
}

#textInput {
    border: none;
    width: 400px;
    height: 50px;
    border-radius: 50px;
}

#div {
    text-align: center;
}

#submitBtn {
    margin: 30px;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(70, 67, 67);
}

.input {
    width: 600px;
    height: 20px;
    background: none;
    border: 1px solid black;
}

#aForm {
    height: max-content;
    width: max-content;
}

#aDiv {
    margin-bottom: 20px;
}

#aInput {
    border: none;
    border-radius: 50px;
    background-color: rgb(48, 48, 255);
    width: 115px;
    height: 25px;
}

.bDiv {
    display: inline-block;
    height:max-content;
    width:200px;
}

.cDiv {
    display: inline-block;
    height: max-content;
    width: max-content;
}

#luckyBtn {
    background-color: rgb(70, 67, 67);
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 5px;
}

label {
    color: aliceblue;
}